.button {
  font: inherit;
  border: 1px solid #a61e4d;
  background: #a61e4d;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #d6336c;
  border-color: #d6336c;
}

.button:focus {
  outline: none;
}
